<!-- <nav class="navbar navbar-light bg-dark fixed-top mb-3"> -->
<div class="container-fluid">
    <a href="#" class="navbar-brand" style="color:white;">PHOTON</a>
    <div class="dropdown">
        <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown">
            <!-- {{ auth()->user()->email }} -->
            Fayez Shahid
        </button>
        <div class="dropdown-menu">
            <form action="#" method="POST">
                <!-- @csrf -->
                <a class="btn" onclick="">Logout</a>
            </form>
        </div>
    </div>
</div>
<!-- </nav> -->