<!-- <div class="col-auto" style="margin-bottom: 15px;"> -->
<div class="card">
    <img [src]="photo.url" class="card-img-top" alt="{{photo.name}}">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title" style="margin-bottom: 0">{{ photo.name }}</h5>
            <a onclick="">
                <i class="fa-solid fa-plus"></i>
            </a>
            <a data-bs-toggle="modal" attr.data-bs-target="#modal{{ photo.id }}">
                <i class="fa-solid fa-pencil"></i>
            </a>
            <a (click)="addToTrash()">
                <i class="fa-solid fa-trash"></i>
            </a>
        </div>
        <div class="d-flex justify-content-between span mt-3">
            <a (click)="addToArchive()">
                <i class="fa-solid fa-box-archive"></i>
            </a>
            <a (click)="toggleFavourites()">
                <i [ngClass]="photo.isFavourite == 1 ? 'fa-solid' : 'fa-regular'" class="fa-star"></i>
            </a>
            <a onclick="">
                <i class=" fa-solid fa-share"></i>
            </a>
            <span style="font-size: 12px">{{ photo.date }}</span>
        </div>
    </div>
</div>
<!-- </div> -->

<div class="modal" id="modal{{ photo.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: fit-content">
        <div class="modal-content" style="width: auto">
            <div class="modal-body">
                <div>
                    <form id="form{{ photo.id }}">
                        <div class="text-danger mb-1" id="imageError{{ photo.id }}"></div>
                        <div class="form-group" style="margin-bottom: 15px" id="chooseImg{{ photo.id }}"
                            *ngIf="!imageUrl; else imagePreview">
                            <label for="">Image</label>
                            <input type="file" id="image{{ photo.id }}" class="form-control" name="image"
                                (change)="showImage($event)">
                        </div>
                        <ng-template #imagePreview>
                            <div class="d-flex justify-content-between" id="imageDiv{{ photo.id }}"
                                style="margin-bottom: 1.5rem;">
                                <img height="450" id="img{{ photo.id }}" [src]="imageUrl" alt="">
                                <button type="button" class="btn-close" (click)="removeImage()"></button>
                            </div>
                        </ng-template>
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" id="name{{ photo.id }}" class="form-control" name="name"
                                placeholder="Enter a small description" [value]='photo.name'>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="edit()">Edit</button>
            </div>
        </div>
    </div>
</div>